@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}



header{
    background-image: url(imagens/fundo-certificado.jpeg);
    background-size: cover;
    padding-top: 20px;
}

nav{
    display: flex;
    background-color: rgb(24, 22, 22);
    padding: 0 0 0 9%;
}

.menu-nav{
    display: flex;
    width: 95vw;
    justify-content: end;
    align-items: center;
    margin-right: 10%;
}

.menu-nav>li{
    list-style-type: none;
    margin: 0 2.2%;
}

.menu-nav>li>a{
    text-decoration: none;
    color: white;
}

.logos{
    display: flex;
    align-items: center;
}
.logo-icone{
    height: 65px;
}
.logo-texto{
    width: 150px;
}





.titulo1{
    margin-top: 120px;
    color: white;
    padding-left: 10%;
    max-width: 400px;
    text-align: center;
}

.p1{
    color: white;
    padding-left: 10%;
    margin-top: 40px;
    font-size:  22px;
    max-width: 500px;
    padding-bottom: 100px;
}





.doisbotoes{
    margin-left: 10%;
    padding-bottom: 100px;
}

.saibacomo{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 30px;
    padding: 20px 25px 20px 25px;
    border-radius: 37px;
    background-color: rgb(255, 255, 255);
}

.whatsapp{
    text-decoration: none;
    color: white;
    padding: 20px 25px 20px 25px;
    border-radius: 36px;
    background-color: rgb(87, 87, 87);
}






main{
    display: flex;
    margin-top: 70px;
    padding-bottom: 50px;
}

.sobrenos{
    margin-left:  12%;
    padding-bottom: 18px;
    max-width: 300px;
    border-bottom: 2.5px solid rgb(0, 0, 0);
}

.sobrep1, .sobrep2, .sobrep3, .sobrep4{
    padding: 20px 20% 0 12%;
    font-size: 14px;
    font-weight: 500;
}

.sessaofoto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
    margin-top: 70px;
}

.imgandre{
    width: 300px;
}

.nome{
    font-size: 16px;
    font-weight: 500;
}

.fundador{
    font-size: 14px;
    font-weight: 600;
}







.sessaoservicos{
    background-image: url(imagens/fundopreto2.jpg);
    padding-bottom: 500px;
    padding-left: 7%;
    padding-right: 7%;
}

.tituloservicos{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 18px;
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 80px;
    border-bottom: 1px solid white;
}

.elemento{
    width: 200px;
    cursor: pointer;
}

.areaservicos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
.elemento{
    margin: 20px 12% 10px 12%;
}
.areaservicos>div>p{
    color: white;
    background-color: rgb(131, 131, 131);
    height: 60px;
    width: 220px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.subtexto{
    margin-top: 5px;
    padding-left: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition-duration: 1s;
}