@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}



header{
    background-image: url(imagens/fundo-certificado.jpeg);
    background-size: cover;
    padding-top: 20px;
}

nav{
    display: flex;
    padding: 0 10% 0 15%;
    background-color: rgb(24, 22, 22);
}

.menu-nav{
    display: flex;
    width: 95vw;
    justify-content: end;
    align-items: center;
    margin-right: 8%;
}

.menu-nav>li{
    list-style-type: none;
    margin: 0 2.2%;
}

.menu-nav>li>a{
    text-decoration: none;
    color: white;
}

.logo{
    width: 150px;
}

.titulo1{
    margin-top: 120px;
    color: white;
    padding-left: 15%;
    max-width: 400px;
    text-align: center;
}

.p1{
    color: white;
    padding-left: 15%;
    margin-top: 40px;
    font-size:  22px;
    max-width: 500px;
    padding-bottom: 100px;
}





.doisbotoes{
    margin-left: 15%;
    padding-bottom: 100px;
}

.saibacomo{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 30px;
    padding: 20px 25px 20px 25px;
    border-radius: 37px;
    background-color: rgb(255, 255, 255);
}

.whatsapp{
    text-decoration: none;
    color: white;
    padding: 20px 25px 20px 25px;
    border-radius: 36px;
    background-color: rgb(87, 87, 87);
}






main{
    display: flex;
    margin-top: 70px;
    padding-bottom: 50px;
}

.sobrenos{
    margin-left:  10%;
    padding-bottom: 18px;
    max-width: 300px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.sobrep1, .sobrep2, .sobrep3, .sobrep4{
    padding: 20px 25% 0 10%;
    font-size: 14px;
    font-weight: 500;
}


.imgandre{
    width: 300px;
    padding-right: 50px;
    margin-top: 70px;
}