@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}



header{
    background-image: url(imagens/fundo-certificado.jpeg);
    background-size: cover;
    padding-top: 20px;
}

nav{
    display: flex;
    background-color: rgb(24, 22, 22);
    padding: 0 0 0 9%;
}

.menu-nav{
    display: flex;
    width: 95vw;
    justify-content: end;
    align-items: center;
    margin-right: 10%;
}

.menu-nav>li{
    list-style-type: none;
    margin: 0 2.2%;
}

.menu-nav>li>a{
    text-decoration: none;
    color: white;
}

.logos{
    display: flex;
    align-items: center;
}
.logo-icone1{
    height: 65px;
}
.logo-texto1{
    width: 150px;
}





.titulo1{
    margin-top: 120px;
    color: white;
    padding-left: 8%;
    max-width: 600px;
    text-align: center;
    font-size: 50px;
}

.p1{
    color: white;
    padding-left: 10%;
    margin-top: 40px;
    font-size:  22px;
    max-width: 500px;
    padding-bottom: 100px;
}





.doisbotoes{
    margin-left: 10%;
    padding-bottom: 100px;
}

.saibacomo{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 30px;
    padding: 20px 25px 20px 25px;
    border-radius: 37px;
    background-color: rgb(255, 255, 255);
}

.whatsapp{
    text-decoration: none;
    color: white;
    padding: 20px 25px 20px 25px;
    border-radius: 36px;
    background-color: rgb(87, 87, 87);
}






main{
    display: flex;
    margin-top: 70px;
    padding-bottom: 50px;
}

.sobrenos{
    margin-left:  12%;
    padding-bottom: 18px;
    max-width: 300px;
    border-bottom: 2.5px solid rgb(0, 0, 0);
}

.sobrep1, .sobrep2, .sobrep3, .sobrep4{
    padding: 20px 20% 0 12%;
    font-size: 14px;
    font-weight: 500;
    text-align: justify;
}

.sessaofoto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
    margin-top: 70px;
}

.imgandre{
    width: 320px;
}

.nome{
    font-size: 16px;
    font-weight: 500;
}

.fundador{
    font-size: 14px;
    font-weight: 600;
}







.sessaoservicos{
    background-image: url(imagens/fundopreto2.jpg);
    padding-bottom: 70px;
    padding-left: 7%;
    padding-right: 7%;
}

.tituloservicos{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 18px;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 60px;
    border-bottom: 1px solid white;
}

.areaservicos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

}
.elemento{
    margin: 15px 6% 15px 6%;
    max-width: 360px;
    background-color: rgb(230, 230, 230);
    border-radius: 28px;
}
.areaservicos>div>p{
    color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-weight: 600;
}

.subtexto{
    padding:10px;
    color: rgb(0, 0, 0);
    text-align: center;
    transition-duration: 1s;
    font-weight: 500;
}









.titulolocal{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 80px;
    font-size: 30;
    font-weight: 600;
    border-bottom: 2px solid black;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 10px;
}

.divmapa{
    width: 60%;
    height: 500px;
    margin: auto;
    padding-bottom: 100px;
}

.divmapa > iframe{
    width: 100%;
    height: 100%;
}



.sessaocontato{
    background-image: url(imagens/fundopreto2.jpg);
}

.logos2{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
}

.logo-icone2{
    height: 100px;
}

.logo-texto2{
    height: 120px;
}

.divcontato{
    background-color: rgb(230, 230, 230);
    margin: 20px 13% 0 13%;
    padding: 50px;
    padding-bottom: 30px;
}

.divcontato>p{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 19px;
    display: flex;
    align-items: center;
    margin-left: 8%;
}
.divcontato>p>svg{
    margin-right: 15px;
    
}


.botoes{
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-left: 13%;
    margin-right: 13%;
    padding-bottom: 50px;
}

.botoes>a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 20px;
    border-radius: 41px;

}